body {
    background-color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 100px; 
}

p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    font-size: 3rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: red;
}

#paper {
    background-color: rgb(24, 170, 237);
}

#scissor {
    background-color: rgb(11, 193, 99);
}

#user-score {
    color: rgb(28, 201, 235);
}

#computer-score {
    color: rgb(246, 13, 13);
}